*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #0EB1D2;
    display: flex;
}


.game{
    /* border: 2px solid red; */
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}


.card{
    /* border: 2px solid yellow; */
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:active{
    transform: scale(0.97);
    transition: transform .4s;
}

.card.flip{
    transform: rotateY(180deg);
}

.front, .back {
    /* border: 2px solid pink; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #34E4EA;
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
}

.board {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    border-radius: 8px;
}


.player-turn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.player1Board {
    background-color: #FFEC51;
}

.player2Board {
    background-color: #FF674D;
}

.player-1-name {
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    background-color: #75f30d;
}

.player-2-name {
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    background-color: #75f30d;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}


.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #34E4EA;
    border-radius: 8px;
    width: 30%;
    max-width: 400px;
    height: 30%;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}


.close-btn:hover{
    background-color: #1c8387;
}

.win-image {
    height: 200px;
    width: 200px;
}